@import url("main.css");

body{
    text-align: center;
    overflow-x: hidden;
}

span{
    display: inline-block;
}

#contain{
    padding: 20px;
    background: white;
    display: inline-block;
    text-align: center;
    width: 325px;
    height: 325px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 0 25px #1C1F33;
    top: calc(50vh - 227.5px);
    left: calc(50vw - 180px);
}


#alert{
    font-family: 'Staatliches', sans-serif;
    font-size: 32.5px;
    margin: 5px;
}

#sub{
    font-size: 20px;
    font-weight: bold;
}

img{
    width: 275px;
    height: auto;
}

#link-home{
    background: none;
    border: none;
    border-bottom: grey 2px solid;
    font-weight: bold;
    padding: 5px;
    font-size: 17.5px;
    color: grey;
    transition: all 750ms ease-in-out;
}

#link-home:hover{
    border-bottom-color: #003366;
    transform: scale(1.1);
    color: #003366;
    font-weight: bold;
}
