/* Show Mobile/Tablet Menu */
@media only screen and (max-width: 900px){
  #menu-open{
    display: none;
  }
}

@media only screen and (min-width: 901px){
  #mobile-menu{
    display: none;
  }
}

#title{
  font-family: 'Staatliches', sans-serif;
  color: #1C1F33;
  font-size: 30px;
  position: relative;
  top: 12.5px;
  padding-bottom: 5.5px;
  padding-top: 5.5px;
  background: white;
  cursor: pointer;
  animation: open-title 1s ease-in-out;
}

@keyframes open-title{
  0%{
    top: -60px;
    opacity: 0;
  }

  100%{
    top: 12.5px;
    opacity: 1;
  }
}

header{
  background: white;
  position: fixed;
  width: 100%;
  height: 65px;
  text-align: center;
  border-bottom: 2.5px #003366 solid;
  z-index: 669;
}

#menu-open{
  transition: all 750ms ease-out;
  float: none;
  position: fixed;
  right: 0;
}

#menu-open:hover{
  transform: scale(0.75) rotate(180deg);
  border-radius: 100%;
}

/* Menu */
#menu-close{
  padding: 20px 17px 20px 23px;
  color: rgb(226, 67, 67);
  transition: all 750ms ease-out;
}

#menu-close:hover{
  border-radius: 100%;
  transform: scale(0.75) rotate(180deg);
  background: rgb(226, 67, 67);
  color: white;
}

.menu-icon, .tab-icon{
  float: right;
  color: #1C1F33;
  font-size: 25px;
  position: relative;
  padding: 20px;
  
  width: 25px;
  transition: background 750ms ease-out, color 750ms ease-out;
}

.tab-icon{
  margin-top: calc(var(--margin-fix) + 65px);
  margin-right: -65px;
}

#feedback{
  bottom: 0;
  position: absolute;
  color: green;
  border-bottom-left-radius: 20px;
}

#feedback:hover{
  background: green;
  color: white;
}

#feedback::after{
  width: 175px;
}

.tab-icon::after{
  z-index: 668;
  width: 125px;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  font-size: 20px;
  transition: opacity 1s, right 1s;
  content: attr(data-tooltip);
  position: absolute;
  right: 75px;
  bottom: 13px;
  color: #1C1F33;
  background: white;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Barlow', sans-serif;
}

.tab-icon:hover::after{
  opacity: 1;
  right: 100px;
}

.menu-icon:hover, .tab-icon:hover{
  background: #1C1F33;
  color: white;
}

#menu{
  display: none;
  position: fixed;
  background: white;
  right: 0;
  top: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100vh;
  width: 61.88;
  z-index: 671;
}

#menu-overlay{
  display: none;
  height: 100vh;
  z-index: 669;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
}

/* Mobile Menu */
#mobile-menu{
  position: fixed;
  width: 100%;
  text-align: center;
  background: white;
  bottom: 0;
  z-index: 675;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tab-icon-mobile{
  color: #1C1F33;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 15vw;
  text-align: center;
  transition: background 750ms ease-out, color 750ms ease-out;
}

.tab-icon-mobile:hover{
  background: #1C1F33;
  color: white;
}

.tab-icon-mobile::after{
  z-index: 668;
  width: 100px;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  font-size: 20px;
  transition: opacity 1s, bottom 1s;
  content: attr(data-tooltip);
  position: absolute;
  bottom: 75px;
  transform: translateX(-70px);
  color: #1C1F33;
  background: white;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Barlow', sans-serif;
}

.tab-icon-mobile:hover::after{
  opacity: 1;
  bottom: 100px;
}