@import url("shared.css");

.aboutdiv{
    position: absolute;
    top: calc(52vh - 234.19px);
    text-align: center;

}
.html-hide, .c-hide, .robot-hide{
    color: white;
}

.html-show{
    color:white;
    display: none;
}
@media only screen and (max-width: 690px){
    .html-hide{
        display: none;
    }
    .html-show{
        display: block;
    }
}
@media only screen and (max-width: 690px){
    .c-hide{
        display: none;
    }

}

@media only screen and (max-width: 550px){
    .robot-hide, .initial-hide{
        display: none;
    }

}

@media only screen and (max-width: 460px){
    .badge, .badge *{
        font-size: 12px;
    }
}

@media only screen and (min-width: 950px){
    .badge, .badge *{
        font-size: 20px;
    }

    .aboutcard h3{
        font-size: 30px;
    }

    .aboutdiv{
        top: calc(52vh - 300px);
    }
}

.aboutcard{
    display: inline-block;
    background-color: white;
    width: 20%;
    text-align: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-family: Barlow;
    color: black;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}
.aboutcard:hover{
    box-shadow: 0 14px 50px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.05) skew(2deg);
}

.aboutcard#raghav-card:hover{
    box-shadow: 0 14px 50px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.05) skew(-2deg);
}
.badge{
    font-family: 'IBM Plex Mono', sans-serif;
    border-radius: 50px;
    display: block;
    color:white;
    padding: 7.5px;
    margin: 10px;
}
.badge *{
    font-family: 'IBM Plex Mono', sans-serif;
}
.aboutcard img{
    width: 70%;
}
.aboutdiv{
    display: inline-block;
    text-align: center;
    color:white;
    font-family: Barlow;
  
}

body{
    text-align: left;
}

img#ewgey{
    width: 40%;
    padding: 30px;
    padding-top: 30px;
}
/* More info dialog */
#more-info{
    position: fixed;
    bottom: 100vh; 
    transform: scale(0);
    opacity: 0; 
    width: 100%;
    height: 100vh; 
    background: rgba(0, 0, 0, 0.76); 
    z-index: 10;
}

#more-info .bio{
    background-color: white;
    width: calc(50% - 50px);
    margin-left: 25vw;
    height: calc(75% - 50px);
    margin-top: 12.5vh;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    pointer-events: none;
}

#more-info .bio.lehuy p::after{
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit sollicitudin lobortis. Etiam rutrum ipsum at velit lacinia, eu hendrerit tortor venenatis. Morbi justo neque, rhoncus lacinia lacus eu, porttitor elementum turpis. Suspendisse potenti. Etiam luctus, ex ut porta cursus, odio ligula ornare lacus, nec pharetra tellus mi a nibh. Aliquam malesuada leo tristique lorem sodales, quis sagittis nunc posuere. Nullam eu diam a urna aliquam egestas vitae in sem. Duis sit amet venenatis arcu, quis faucibus nunc. Duis a lacinia eros. Duis vehicula leo sed sapien suscipit condimentum.'
}

#more-info .bio.raghav p::after{
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vulputate nibh nec ipsum auctor euismod. Nullam enim ex, hendrerit sed iaculis at, dignissim at neque. Pellentesque ut quam varius quam mollis molestie eu sit amet mi. Fusce nulla ex, ultrices vel sem et, semper tincidunt risus. Aenean vehicula pellentesque nulla, ac dictum mi laoreet id. Phasellus ac ipsum nisi. Duis lorem enim, suscipit nec tortor a, efficitur vehicula massa. Vestibulum sed porta nulla. Duis sed porta purus, nec pharetra ex. Donec nec sollicitudin sapien, nec laoreet justo.'
}

#more-info .bio *{
    pointer-events: none;
}

.bio h1{
    font-family: 'IBM Plex Mono', sans-serif;
}